body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

header {
  margin-top: 30px;
}

header .nav {
  min-height: 80px;
  background: white;
  overflow: hidden;
}

/* ESTILOS PARA LOGO */
header .logo h2,
header .logo span,
header .logo p {
  font-size: 16px;
  margin: 0;
  display: inline-block; /**/
}

header .logo h2 {
  font-weight: 800;
  text-transform: uppercase;
}

header .logo .icono {
  color: #bfbfbf;
}

header .logo p {
  color: #777777;
}
/* ESTILOS PARA EL MENU */
header .menu {
  padding: 0;
}
header .menu a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0 30px;
}

header .menu a div span {
  font-weight: 600;
}

header .menu .c-1 {
  background: #003855;
}

header .menu .c-2 {
  background: #005385;
}

header .menu .c-3 {
  background: #003855;
}

header .menu .c-1 {
  background: #003855;
}

header .menu .c-2 {
  background: #005385;
}

header .menu .c-3 {
  background: #003855;
}

header .menu .c-1:hover {
  background: #3da5e2;
}

header .menu .c-2:hover {
  background: #3da5e2;
}

header .menu .c-3:hover {
  background: #3da5e2;
}

.slider {
  margin-bottom: 5px;
  margin-top: 20px;
}

.slider .col {
  padding: 0;
}
/* ESTILOS PORTAFOLIO */
.portafolio {
  background: white;
  border-top: 5px solid #3da3e2;
  padding: 0 20px;
  margin-bottom: 15px;
}

.portafolio .titulo {
  padding: 40px;
  text-align: center;
  color: #3da5e2;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.portafolio .galeria .contenedor-imagen {
  max-height: 180px;
  margin-bottom: 10px;
  overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
  display: inline-block;
  background: #3da5e2;
}

/* ESTILOS DE LA SECCIÓN ACERCA DE */
.acerca-de {
  padding: 30px;
  margin-bottom: 40px;
}

.acerca-de .foto {
  text-align: center;
}

.acerca-de .foto .nombre {
  color: black;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
}

.acerca-de .info .titulo {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 30px;
}

.acerca-de .info .resumen {
  letter-spacing: 1px;
  text-align: justify;
}

/* ESTILOS BARRAS DE HABILIDADES */
.acerca-de .info .label {
  font-size: 18px;
  font-weight: 600;
  color: #005385;
  margin-bottom: 15px;
}

.acerca-de .info .progress {
  background: #005385;
  border-radius: 0;
  margin-bottom: 15px;
}

.acerca-de .info .progress-bar {
  height: 16px;
  background: #3da5e2;
  text-align: left;
  padding-left: 20px;
}
